body
{
  background-color: #EAF6F6;
}
h1{
  color: #146356;
}
h3{
  color: #146356;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #146356;
  border-width: 6px;
  width: 5%;
}
